.ml {
  margin-left: 50px;
  margin-top: 50px;
  width: 150px;
  height:50px;
}

.nav{
  height: 80px;
}

.text{
  font-size: 40px;
  color: white;
  margin-left: 50px;
}

.icon {
  left: 400px;
}
 .item{
   position: absolute;
  right: 60px ;
  top: 8px;
 }
